@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Baloo+Bhaina+2&family=Poppins:wght@400;700&display=swap');

body{
    font-family: 'Baloo 2', cursive;
    font-family: 'Baloo Bhaina 2', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #7ed4c6;
}
h1{
    text-align: center;
    margin-bottom: 50px;

}
.container{
    text-align: center;
    background: linear-gradient(135deg, orange 30% , cyan,rgb(28, 252, 28));
    width: 50%;
    border-radius: 8px;
    padding: 20px;
    text-align: center;

}
.input-div{
    display: inline-block;
}
.inp{
    padding : 5px,10px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    width: 250px;
    text-align: center;
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 50px;
} 
.label{
    font-size: 22px;
}